<% if @book.errors.any? %>
  <div >
    <p><%= @book.errors.count %>errors prohibited this obj from being saved:</p>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>User info</h2>

<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, size: "100x100" %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>

<table class="table">
  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Introduction</th>
      <td><%= @user.introduction %></td>
    </tr>
  </tbody>
</table>

<%= link_to edit_user_path(@user), class: "btn btn-outline-secondary w-100" do %>
  <i class="fas fa-user-cog"></i>
<% end %>

<!--<h2>New book</h2>-->
<!--<%= form_with model: @book, class: "form-group" do |f| %>-->
<!--  <div>-->
<!--    <label for="title">Title</label><br>-->
<!--    <%= f.text_field :title, class: "form-control",value: "" %>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="body">Opinion</label><br>-->
<!--    <%= f.text_area :body, class: "form-control",value: ""  %>-->
<!--  </div>-->
<!--  <%= f.submit 'Create Book', class: "btn btn-success mt-3" %>-->
<!--<% end %>-->
