<%= flash[:notice] %>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <h1>Editing Book</h1>

      <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :title, class: "mr-2" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :body, class: "mr-2" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit 'Update Book', class: "btn btn-success" %>
        </div>
      <% end %>

      <%= link_to "Show", book_path(@book) %> |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>
